# Other Regression Models

In [ ]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

explain why do not need to do one-hot encoding and hence we will used the original data before one-hot encoding

In [2]:
# Import the cleaned dataset with no outliers
df = pd.read_csv('CO2 Emissions_Canada_cleaned_removed_outliers.csv')
df.drop(df.columns[0], axis=1, inplace=True)

print("Data type : ", type(df))
print("Data dims : ", df.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (5965, 12)

In [3]:
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km),Number of Gears
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,196,5
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,221,6
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,136,7
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,255,6
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,244,6

## Dropping of Unnecessary Columns 

Our project examines the specifications of a vehicle. The make and model which denotes the company of the vehicle and car model respectively are not vehicle specfications, but serve as identifiers for vehicles. Instead, we will focus on the other categorical variables: Vehicle Class, Transmission, and Fuel Type as these features truly define the distinct specfications of a vehicle.

We will solely utilize the "Fuel Consumption Comb" column because it represents the combined fuel consumption, accounting for both city roads and highway conditions, in miles per gallon. As a result, we will exclude the "Fuel Consumption City" and "Fuel Consumption Hwy" columns.

In [5]:
# Create a copy of the dataset
df2 = df.copy()

# Drop Make and Model columns
df2.drop(['Make', 'Model', 'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption City (L/100 km)'], axis=1, inplace=True)

df2.head()

,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km),Number of Gears
0,COMPACT,2.0,4,AS,Z,8.5,196,5
1,COMPACT,2.4,4,M,Z,9.6,221,6
2,COMPACT,1.5,4,AV,Z,5.9,136,7
3,SUV - SMALL,3.5,6,AS,Z,11.1,255,6
4,SUV - SMALL,3.5,6,AS,Z,10.6,244,6

## Decision Trees Regression

## Random Forest Regression